@mixin about-mixin {
  .about-container {
    width: 85%;
    display: flex;
    margin: 0 auto;
    gap: 15%;

    .about-bio {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .about-image {
        width: 250px;
        height: 250px;
        border-radius: 25px;
      }

      .about-name,
      .about-location {
        display: flex;
        align-items: center;
      }
      .about-location {
        position: relative;
        top: -10px;
        font-size: 18px;
        opacity: 0.7;
      }
    }
    .about-info {
      display: flex;
      flex-direction: column;
      gap: 15px;
      width: 100%;

      .about-info-list {
        .link-color {
          display: inline-flex;
          align-items: center;
          gap: 2px;
        }
      }
    }
  }

  @media (max-width: 1120px) {
    .about-container {
      display: flex;
      flex-direction: column;
    }
  }

  @media (max-width: 970px) {
    .about-container {
      font-size: 92%;
      width: 95%;
    }
  }
}
