@mixin blog-item-mixin {
  .blog-item-container {
    .blog-item-header {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .blog-item-text {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }
  @media (max-width: 768px) {
    .blog-item-container {
      padding: 0 5%;
      .blog-item-text {
        font-size: 75%;
      }
    }
  }
}
