@mixin header-mixin {
  .navigation {
    height: 94px;

    .navigation-list {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      .current-link {
        padding: 7px 15px;
        border: 2px solid $main-color;
        cursor: pointer;
        border-radius: 15px;
      }

      .navigation-item {
        & a {
          color: $text-main;
          position: relative;

          &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            background-color: $main-color;
            transition: width 0.3s ease-in-out;
          }

          &:hover::before {
            width: 100%;
            transition: width 0.3s ease-in-out;
          }

          &:hover {
            color: $main-color;
            transition: 0.5s ease;
          }
        }
      }
    }
  }
}
