@mixin skills-mixin {
  .skills-container {
    .skills-list {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      margin: 0 5%;

      .skills-item {
        min-width: 240px;
        width: 100%;
        padding: 15px;
        border: 2px solid $text-main;
        border-radius: 25px 25px 0 25px;
        flex: 1 0 33.333%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

        &:hover {
          border-color: $main-color;
          transition: 0.3s ease-in;
        }

        .skills-item-name {
          font-size: 24px;
          display: flex;
          align-items: center;
          gap: 5px;
        }

        p {
          font-size: 18px;
        }
      }
    }
  }
}
