@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
html,
body {
  color: #e3e3e3;
  background-color: #303030;
  width: 100vw;
  height: 100vh;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 1.5;
}
html input,
html textarea,
body input,
body textarea {
  outline: none;
}
html *,
body * {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
html a,
html a:active,
html a:focus,
body a,
body a:active,
body a:focus {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
}
html a:visited,
html a:hover,
body a:visited,
body a:hover {
  text-decoration: none;
}
html nav,
html footer,
html header,
html aside,
body nav,
body footer,
body header,
body aside {
  display: block;
}
html button,
body button {
  background-color: inherit;
  cursor: pointer;
}
html button::-moz-focus-inner,
body button::-moz-focus-inner {
  padding: 0;
  margin: 0;
  border: 0;
}
html ul li,
body ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, #303030 50%, #febd2f 50%);
}
#root .header .navigation {
  height: 94px;
}
#root .header .navigation .navigation-list {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}
#root .header .navigation .navigation-list .navigation-item a {
  color: #e3e3e3;
  position: relative;
}
#root .header .navigation .navigation-list .navigation-item a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #febd2f;
  transition: width 0.3s ease-in-out;
}
#root .header .navigation .navigation-list .navigation-item a:hover::before {
  width: 100%;
  transition: width 0.3s ease-in-out;
}
#root .header .navigation .navigation-list .navigation-item a:hover {
  color: #febd2f;
  transition: 0.5s ease;
}
#root .header .navigation .navigation-list .current-link a {
  color: #febd2f;
}
#root .header .bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}
#root .header .bm-burger-button .bm-burger-bars {
  border-radius: 25px;
  box-sizing: content-box;
  border: 2px solid #303030;
  background: #febd2f;
}
#root .header .bm-burger-button .bm-cross-button {
  height: 24px;
  width: 24px;
}
#root .header .bm-burger-button .bm-cross {
  background: #febd2f;
}
#root .header .bm-menu {
  background: #303030;
  padding: 15% 20%;
  font-size: 22px;
}
#root .header .bm-menu .navigation-item {
  margin-bottom: 15px;
}
#root .header .bm-menu .navigation-item a {
  color: #e3e3e3;
  position: relative;
}
#root .header .bm-menu .navigation-item a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #febd2f;
  transition: width 0.3s ease-in-out;
}
#root .header .bm-menu .navigation-item a:hover::before {
  width: 100%;
  transition: width 0.3s ease-in-out;
}
#root .header .bm-menu .navigation-item a:hover {
  color: #febd2f;
  transition: 0.5s ease;
}
#root .header .bm-menu .current-link a {
  color: #febd2f;
}
#root .header .bm-menu-wrap {
  position: fixed;
  height: 100%;
}
#root .header .bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
#root .main {
  flex: 1 1 auto;
  background: #303030;
  margin: 0 45px 0 45px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  padding: 3% 5%;
}
#root .main .about-container {
  width: 85%;
  display: flex;
  margin: 0 auto;
  gap: 15%;
}
#root .main .about-container .about-bio {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#root .main .about-container .about-bio .about-image {
  width: 250px;
  height: 250px;
  border-radius: 25px;
}
#root .main .about-container .about-bio .about-name,
#root .main .about-container .about-bio .about-location {
  display: flex;
  align-items: center;
}
#root .main .about-container .about-bio .about-location {
  position: relative;
  top: -10px;
  font-size: 18px;
  opacity: 0.7;
}
#root .main .about-container .about-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
#root .main .about-container .about-info .about-info-list .link-color {
  display: inline-flex;
  align-items: center;
  gap: 2px;
}
@media (max-width: 1120px) {
  #root .main .about-container {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  #root .main .about-container {
    width: 95%;
  }
}
#root .main .projects-container .projects-text {
  margin-bottom: 5%;
}
#root .main .projects-container .projects-text a {
  display: inline-flex;
  align-items: center;
  padding: 0 2px 1px 2px;
  border-bottom: 1px solid #febd2f;
}
#root .main .projects-container .projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
  justify-content: space-evenly;
}
#root .main .projects-container .projects-list .projects-item-image {
  width: 330px;
  height: 330px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#root .main .projects-container .projects-list .projects-item-image:hover {
  box-shadow: 0 0 10px #febd2f;
  transition: 0.5s ease;
}
@media (max-width: 480px) {
  #root .main .projects-container .projects-list {
    gap: 25px;
  }
  #root .main .projects-container .projects-list .projects-item-image {
    width: 250px;
    height: 250px;
  }
}
#root .footer {
  min-height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 480px) {
  #root .main {
    margin: 5px;
    border-radius: 25px;
    box-shadow: 0;
    padding: 25px 5px;
  }
}

.title {
  text-align: center;
  margin-bottom: 15px;
}

.color-main {
  color: #febd2f;
}

.caption-text {
  font-size: 18px;
  opacity: 0.8;
}

/*# sourceMappingURL=index.css.map */
