@import './colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import './components/header.scss';
@import './components/main.scss';
@import './components/footer.scss';

html,
body {
  color: $text-main;
  background-color: $background;
  width: 100vw;
  height: 100vh;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 1.5;

  input,
  textarea {
    outline: none;
  }

  * {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
  }

  a,
  a:active,
  a:focus {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
  }

  a:visited,
  a:hover {
    text-decoration: none;
  }

  nav,
  footer,
  header,
  aside {
    display: block;
  }

  button {
    background-color: inherit;
    cursor: pointer;

    &::-moz-focus-inner {
      padding: 0;
      margin: 0;
      border: 0;
    }
  }

  ul li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: $background;

  .header {
    @include header-mixin;
  }

  .main {
    flex: 1 1 auto;
    background: inherit;
    margin: 0 45px 0 45px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 45px;
    padding: 15px;
  }

  .footer {
    min-height: 94px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.button-main {
}
