@import './colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

html,
body {
  color: $text-main;
  background-color: $background;
  width: 100vw;
  height: 100vh;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 1.5;

  input,
  textarea {
    outline: none;
  }

  * {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
  }

  a,
  a:active,
  a:focus {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
  }

  a:visited,
  a:hover {
    text-decoration: none;
  }

  nav,
  footer,
  header,
  aside {
    display: block;
  }

  button {
    background-color: inherit;
    cursor: pointer;

    &::-moz-focus-inner {
      padding: 0;
      margin: 0;
      border: 0;
    }
  }

  ul li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

#root {
  width: 100%;
  height: 100%;
  display: flex;

  .wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    width: 100%;
    margin: 0 45px;
    height: 100%;
    overflow-y: auto;

    .header {
      border: 1px solid #000;
      height: 94px;
    }
    .main {
      border: 1px solid #000;
      flex: 1 1 auto;
    }
    .footer {
      border: 1px solid #000;
      min-height: 94px;
    }
  }
}
