@import './colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import './components/header.scss';
@import './components/about.scss';
@import './components/footer.scss';
@import './components/projects.scss';

html,
body {
  color: $text-main;
  background-color: $background;
  width: 100vw;
  height: 100vh;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 1.5;

  input,
  textarea {
    outline: none;
  }

  * {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
  }

  a,
  a:active,
  a:focus {
    color: $text-main;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
  }

  a:visited,
  a:hover {
    text-decoration: none;
  }

  nav,
  footer,
  header,
  aside {
    display: block;
  }

  button {
    background-color: inherit;
    cursor: pointer;

    &::-moz-focus-inner {
      padding: 0;
      margin: 0;
      border: 0;
    }
  }

  ul li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, $background 50%, $main-color 50%);

  .header {
    @include header-mixin;

    .bm-burger-button {
      position: fixed;
      width: 36px;
      height: 30px;
      right: 36px;
      top: 36px;

      .bm-burger-bars {
        border-radius: 25px;
        box-sizing: content-box;
        border: 2px solid $background;
        background: $main-color;
      }

      .bm-cross-button {
        height: 24px;
        width: 24px;
      }

      .bm-cross {
        background: $main-color;
      }
    }

    .bm-menu {
      background: $background;
      padding: 15% 20%;
      font-size: 22px;

      .navigation-item {
        margin-bottom: 15px;
        a {
          color: $text-main;
          position: relative;

          &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            background-color: $main-color;
            transition: width 0.3s ease-in-out;
          }

          &:hover::before {
            width: 100%;
            transition: width 0.3s ease-in-out;
          }

          &:hover {
            color: $main-color;
            transition: 0.5s ease;
          }
        }
      }
      .current-link a {
        color: $main-color;
      }
    }

    .bm-menu-wrap {
      position: fixed;
      height: 100%;
    }

    .bm-overlay {
      background: rgba(0, 0, 0, 0.3);
    }
  }

  .main {
    flex: 1 1 auto;
    background: $background;
    margin: 0 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 25px 25px 0px 25px;
    padding: 3% 5%;
    @include about-mixin;
    @include projects-mixin;
  }

  .footer {
    min-height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 768px) {
    .main {
      margin: 3%;
      border-radius: 25px;
      box-shadow: 0;
      padding: 25px 5px;
    }
  }
}

.title {
  text-align: center;
  margin-bottom: 10px;
}

.button-main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 180px;
  height: 55px;
  border: 2px solid $main-color;
  border-radius: 15px 15px 0 15px;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 18px;
  transition: 0.3s;
  z-index: 1;
  color: $main-color;

  &::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: $main-color;
    transition: 0.5s ease;
    display: block;
    z-index: -1;
  }

  &:hover::before {
    width: 105%;
  }

  &:hover {
    color: $background;
  }
}

.color-main {
  color: $main-color;
}

@media (max-width: 768px) {
  .size {
    font-size: 28px;
  }
}

@media (max-width: 480px) {
  .size {
    font-size: 24px;
  }
}
